.container {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr;
  grid-template-rows: 0.2fr 3fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "gameplay store"
    "info info";
}

* {
  background-color: rgb(0, 0, 0);
}

body {
  margin: 0;
}

h1 {
  color: antiquewhite;
}

.title {
  font-size: 6vw;
  margin: 10px 0px;
}

.header {
  grid-area: header;
}

.gameplay {
  grid-area: gameplay;
}

.store {
  grid-area: store;
}

.info {
  grid-area: info;
}

.max-height {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.vertical-center {
  align-items: center;
}

.horizontal-center {
  justify-content: center;
}

#universe-img {
  height: 200px;
  width: 200px;
}

.border-none {
  border: 0px;
}

.shop-button {
  width: 100%;
}

.shop-img {
  height: 80px;
  width: 80px;
}

.box-shadow-none {
  box-shadow: none;
}

.flex-rows {
  display: flex;
  flex-direction: row;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.section-borders {
  border: solid white 1px;
}

.button-borders {
  border: solid white 5px;
}

.button-margins {
  margin: 20px;
}

#clicker {
  width: fit-content;
}

#clicker:active {
  margin: 5px 0px;
}

#clicker:active #universe-img{
width: 190px;
height: 190px;
}

.shop-button:active {
  font-size: 10px;
}