.container {  display: grid;
    grid-template-columns: 1.4fr 0.8fr;
    grid-template-rows: 0.2fr 3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "gameplay store"
      "info info";
  }

  *{
    background-color: rgb(105, 105, 105);
  }
  
  h1{
    color:antiquewhite;
  }

  .header { grid-area: header; }
  
  .gameplay { grid-area: gameplay; }
  
  .store { grid-area: store; }
  
  .info { grid-area: info; }
  
  .maxheight {
    height: 100vh;
  }

  .text-center{
    text-align: center;
  }

  #universe{
    height: 200px;
    width: 200px;
  }